:root {

    --preto:#000000 ;
    --branco:#ffffff;
    --verde:#1ed760;
    --cinza:#919496;
    --cinzaescuro:#222326;
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
}
li {

    color: var(--branco);
}


.logo{

    height: 60px;
    margin-left: 130px;
}


nav {

    margin-right: 120px;
    
    
    }
    

    nav ul{
        display: flex;
    }
    



.navbar{
    background-color:var(--preto);
    height: 100px;   
    display: flex;
    align-items: center;
    justify-content: space-between; 
   
       
}

 ul li a{
    color: var(--branco);   
    text-decoration: none;
    padding-right: 50px;
    font-size: 1.6em;
   }
   
 a:hover{
    color:var(--verde);
}
   

.navbar span{
    color: var(--branco);
    font-size: 1.6em;
    padding-right: 50px;
}




   
.maincontainer{

    height: 100vh;
	
	background: url("/img/showcase.webp") center center/cover;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--verde);
}
.tela{

    display: flex;
	flex-direction: column;
	align-items: center;
}
.tela h1{
    font-size: 8.0em;
}

.tela p{
    font-size: 1.6em;
    margin-left: 50px;
}



.btn-primary {
	background-color: var(--verde);
	color: white;
	text-transform: uppercase;
	padding: 15px 60px;
	border: none;
	border-radius: 30px;
	letter-spacing: 1px;
	font-weight: bold;
    margin-top: 30px;
    font-size: 1.4em;
}

.btn-primary:hover {
	background-color: var(--verde);
	cursor: pointer;
    transform: scale(1.1,1.1);
}



.btn-primary:active {
    background-color: #3e8e41; 
    transform: scale(1.1,1.1); 
    transform: translateY(4px);
  }



footer{

    height: 600px;
    background-color: var(--preto);
    padding-top: 80px;
    display: flex;
}

.maisInformacoes{
    display: flex;
   
}


.footerLinks{
    display: flex;
    flex-direction: column;   
}






.comunidades li, .linksUteis li, .empresas li{

    margin-top:30px;
    margin-left:50px;
    font-size: 1.6em;
    color:var(--cinza);
   
}



.comunidades li a, .linksUteis li a, .empresas li a{

 
    font-size: 0.9em;
  
   
}



.botton{

    padding-top:50px;
    height: 120px;
    background-color:var(--preto);
    display: flex;
    justify-content: space-between; 
   
    
}
.botton ul {
    display: flex;
    margin-left: 130px;
    
   
}
.botton li a {
    font-size: 1.2em;;
    color: var(--cinza);

}
.botton li a:hover{
   
    color:var(--verde);

}
#ass{
    color: var(--cinza);
    margin-right: 120px;
}

.socialcontainer{
   
  
   margin-top: 50px;
   margin-left:100px;
   
}




#social [class*="fab fa-"] {
    background-color:var(--cinzaescuro);
    border-radius: 40px;
    color: #fff;
    height: 80px;
     line-height: 80px;
    margin: auto 10px;
    width: 80px;
    font-size: 35px;
     text-align: center;
}
   
#social [class*="fab fa-"]:hover {
  
    color: var(--verde);
   
}




